/* $Id$ */

div.options-widget tr input {
  float: left; /* RTL */
}

div.options-widget .draggable a.tabledrag-handle {
  padding-right: .5em /* RTL */
}

div.form-options fieldset.options {
  margin-bottom: -2em;
}

div.form-options-manual {
  text-align: right; /* RTL */
  padding-right: 10px; /* RTL */
}

div.options-widget table,
div.options-widget tbody {
  border: none;
}

div.options-widget a.add span,
div.options-widget a.remove span {
  display: none;
}

div.options-widget a.add,
div.options-widget a.remove {
  display: block;
  width: 16px;
  height: 16px;
  margin: .2em .1em;
  background-repeat: no-repeat;
  background-position: 0 0;
  float: left; /* RTL */
}

div.options-widget a.add:hover,
div.options-widget a.remove:hover {
  background-position: 0 -16px;
}

div.options-widget a.add {
  background-image: url(add.png);
}

div.options-widget a.remove {
  background-image: url(delete.png);
}

div.options-widget table {
  width: 100%;
}

div.options-widget table td.option-default-cell {
  width: 5em;
}

div.options-widget table td.option-key-cell {
  width: 20%;
  padding-left: 20px;
}

div.options-widget table td.option-value-cell {
  padding-left: 20px;
}

div.options-widget table td.option-actions-cell {
  width: 40px;
}

div.options-widget table tr input.form-text,
div.options-widget table tr a.add {
  margin-left: -20px;
}

div.options-widget table tr.indented input.form-text,
div.options-widget table tr.indented a.add {
  margin-left: 0;
}

div.options-widget table tr.indented input.option-default {
  margin-right: -20px;
}

div.options-widget input.form-text {
  width: 100%;
}
